// SECTION getting :: START

section#ot-getting.ot-getting
  .c-grid
    .ot-getting__wrapper
      .ot-getting__wrapper-left

        p.ot-getting__title!= "Getting Down to <br>Business"
        p.ot-getting__subtitle!= "IFX Brokers give you access to the best potential trade opportunities."

        p.ot-getting__text.ot-getting__text--pb!= "We combine a drive for the lowest possible trading cost with superior execution. IFX’s comprehensive trading suite will more than meet your every trading requirement."
        p.ot-getting__text!= "For example, we offer over 70 currency pairs, gold and silver, oil and natural gas."

      .ot-getting__wrapper-right

        .ot-getting__block
          .ot-getting__block-head
            a.ot-getting__block-btn.is-active(href="#" class="" title="" data-btn-id="0")
              div
                .ot-getting__block-circle
                  +iconSVG('i-forex')
              div
                p!= "Forex"

            a.ot-getting__block-btn(href="#" class="" title="" data-btn-id="1")
              div
                .ot-getting__block-circle
                  +iconSVG('i-indices')
              div
                p!= "Indices"

            a.ot-getting__block-btn(href="#" class="" title="" data-btn-id="2")
              div
                .ot-getting__block-circle
                  +iconSVG('i-commodities')
              div
                p!= "Commodities"

            a.ot-getting__block-btn(href="#" class="" title="" data-btn-id="3")
              div
                .ot-getting__block-circle
                  +iconSVG('i-cfds')
              div
                p!= "CFDs"


          .ot-getting__block-body

            .ot-getting__block-content.is-active(data-content="0")
              p!= "Exceptionally low spread pricing is combined with rapid inter-bank implementation. To be sure, we have expanded our product offering - however our focus remains on providing Forex traders around the globe with the lowest costs possible. IFX concentrates on a low latency/high quality execution accompanied by flexible leverage and a reliable trading infrastructure."
              p!= "With spreads executed as low as 0.2 pips on EUR/USD, AUD/USD, GBP/USD and various other pairs, your overall trading costs are far lower when you partner with IFX Brokers."

            .ot-getting__block-content(data-content="1")
              p!= "Exceptionally low spread pricing is combined with rapid inter-bank implementation. To be sure, we have expanded our product offering - however our focus remains on providing Forex traders around the globe with the lowest costs possible. IFX concentrates on a low latency/high quality execution accompanied by flexible leverage and a reliable trading infrastructure."
              p!= "With spreads executed as low as 0.2 pips on EUR/USD, AUD/USD, GBP/USD and various other pairs, your overall trading costs are far lower when you partner with IFX Brokers."

            .ot-getting__block-content(data-content="2")
              p!= "Exceptionally low spread pricing is combined with rapid inter-bank implementation. To be sure, we have expanded our product offering - however our focus remains on providing Forex traders around the globe with the lowest costs possible. IFX concentrates on a low latency/high quality execution accompanied by flexible leverage and a reliable trading infrastructure."
              p!= "With spreads executed as low as 0.2 pips on EUR/USD, AUD/USD, GBP/USD and various other pairs, your overall trading costs are far lower when you partner with IFX Brokers."

            .ot-getting__block-content(data-content="3")
              p!= "Exceptionally low spread pricing is combined with rapid inter-bank implementation. To be sure, we have expanded our product offering - however our focus remains on providing Forex traders around the globe with the lowest costs possible. IFX concentrates on a low latency/high quality execution accompanied by flexible leverage and a reliable trading infrastructure."
              p!= "With spreads executed as low as 0.2 pips on EUR/USD, AUD/USD, GBP/USD and various other pairs, your overall trading costs are far lower when you partner with IFX Brokers."

// SECTION getting :: END