// SECTION main :: START

section#ot-main.ot-main
  .ot-main__wrapper.ot-main__wrapper-0
    .ot-main__bg.ot-main__bg-0

    .c-grid

      p.ot-main__title!= "Our Bespoke<br>Trading Accounts"

      .ot-main__row.ot-main__row-0
        .ot-main__col

          p.ot-main__desc!= "We perpetually upgrade our instruments to offer you the finest low-cost trading service through state-of-the-art trading platforms with unrivalled top-tier liquidity and spreads."

        .ot-main__col

          p.ot-main__text.ot-main__text--pb!= "You experience reliable, formidably fast trade execution with no-dealing desk intervention and a comprehensive range of offerings that include CFDs, commodities, Forex and Futures."
          p.ot-main__text!= "Our online trading platform powered by Equinix, include Metatrader 4 and MT4 Mobile for smart phones and tablets."

      p.ot-main__info!= "IFX gives you the choice of a selection of trading accounts, specifically designed to meet the needs and demand of all types of traders."

  .ot-main__wrapper.ot-main__wrapper-1
    .ot-main__bg.ot-main__bg-1

    .c-grid
      .ot-main__table-scroll
        .ot-main__table
          .ot-main__table-tr.ot-main__table-tr--first
            .ot-main__table-td.ot-main__table-td-0
            .ot-main__table-td.ot-main__table-td-1
              p.ot-main__table-badge!= "IFX Standard"
            .ot-main__table-td.ot-main__table-td-2
              p.ot-main__table-badge!= "IFX Raw"
            .ot-main__table-td.ot-main__table-td-3
              p.ot-main__table-badge!= "IFX Islamic"

          .ot-main__table-tr.ot-main__table-tr--first1
            .ot-main__table-td.ot-main__table-td-0
              p!= "Platform"
            .ot-main__table-td.ot-main__table-td-1
              span!= "MT4"
            .ot-main__table-td.ot-main__table-td-2
              span!= "MT4"
            .ot-main__table-td.ot-main__table-td-3
              span!= "MT4"

          .ot-main__table-tr.ot-main__table-tr--row
            .ot-main__table-td.ot-main__table-td-0
              p!= "Range of Markets"
            .ot-main__table-td.ot-main__table-td-1
              span!= "All Instruments"
            .ot-main__table-td.ot-main__table-td-2
              span!= "Range of Markets"
            .ot-main__table-td.ot-main__table-td-3
              span!= "All Instruments"
          .ot-main__table-tr.ot-main__table-tr--row
            .ot-main__table-td.ot-main__table-td-0
              p!= "Minimum Deposit"
            .ot-main__table-td.ot-main__table-td-1
              span!= "USD 100"
            .ot-main__table-td.ot-main__table-td-2
              span!= "USD 250"
            .ot-main__table-td.ot-main__table-td-3
              span!= "USD 100"
          .ot-main__table-tr.ot-main__table-tr--row
            .ot-main__table-td.ot-main__table-td-0
              p!= "Minimum Trade Size"
            .ot-main__table-td.ot-main__table-td-1
              span!= "0.01 lot"
            .ot-main__table-td.ot-main__table-td-2
              span!= "0.01 lot"
            .ot-main__table-td.ot-main__table-td-3
              span!= "0.01 lot"
          .ot-main__table-tr.ot-main__table-tr--row
            .ot-main__table-td.ot-main__table-td-0
              p!= "Maximum Trade Size"
            .ot-main__table-td.ot-main__table-td-1
              span!= "100 lots per click"
            .ot-main__table-td.ot-main__table-td-2
              span!= "100 lots per click"
            .ot-main__table-td.ot-main__table-td-3
              span!= "100 lots per click"
          .ot-main__table-tr.ot-main__table-tr--row
            .ot-main__table-td.ot-main__table-td-0
              p!= "Spreads Form"
            .ot-main__table-td.ot-main__table-td-1
              span!= ""
            .ot-main__table-td.ot-main__table-td-2
              span!= "0.5"
            .ot-main__table-td.ot-main__table-td-3
              span!= ""
          .ot-main__table-tr.ot-main__table-tr--row
            .ot-main__table-td.ot-main__table-td-0
              p!= "Commision Form"
            .ot-main__table-td.ot-main__table-td-1
              span!= "Nill"
            .ot-main__table-td.ot-main__table-td-2
              span!= "USD 3 (one way)"
            .ot-main__table-td.ot-main__table-td-3
              span!= "Nill"
          .ot-main__table-tr.ot-main__table-tr--row
            .ot-main__table-td.ot-main__table-td-0
              p!= "Swap Fees"
            .ot-main__table-td.ot-main__table-td-1
              span!= "Yes"
            .ot-main__table-td.ot-main__table-td-2
              span!= "Yes"
            .ot-main__table-td.ot-main__table-td-3
              span!= "Yes"

          .ot-main__table-tr.ot-main__table-tr--last1
            .ot-main__table-td.ot-main__table-td-0
              p!= "Account Base Currencies"
            .ot-main__table-td.ot-main__table-td-1
              span!= "ZAR, USD, GBP, EUR"
            .ot-main__table-td.ot-main__table-td-2
              span!= "USD"
            .ot-main__table-td.ot-main__table-td-3
              span!= "USD"

          .ot-main__table-tr.ot-main__table-tr--last
            .ot-main__table-td.ot-main__table-td-0
            .ot-main__table-td.ot-main__table-td-1
              a.ot-main__table-link(href="#" class="" title="")!= "Open Live account"
            .ot-main__table-td.ot-main__table-td-2
              a.ot-main__table-link(href="#" class="" title="")!= "Open Live account"
            .ot-main__table-td.ot-main__table-td-3
              a.ot-main__table-link(href="#" class="" title="")!= "Open Live account"



      p.ot-main__table-info!= "All our live accounts gain access to the IFX Academy - just another way we’re better"

  .ot-main__wrapper.ot-main__wrapper-2
    .ot-main__bg.ot-main__bg-2

    .c-grid

      .ot-main__block-wrapper
        .ot-main__block.ot-main__block-0
          p.ot-main__block-title!= "Discover the world of trading absolutely free, without losing a cent"
          div
            p.ot-main__block-desc.ot-main__block-desc--pb!= "A demo account is the best way for newcomers to<br>explore trading. The demo account’s functionality is<br>similar to the real account one with the exception that<br>you trade with virtual money."
            p.ot-main__block-desc!= "Using virtual funds, you can see how our platforms work<br>and try out various trading strategies. It couldn’t be fairer<br>than that."
          a.ot-main__block-btn(href="#" class="" title="")!= "Start Trading Now"

        .ot-main__block.ot-main__block-1
          p.ot-main__block-title!= "IFX Islamic Account"
          div
            p.ot-main__block-desc.ot-main__block-desc--pb!= "THE IFX Islamic account is a swap free account and<br>completely free of Riba. This works by eliminating the<br>usual swap charges that normally apply for positions held<br>overnight or over weekends."
            p.ot-main__block-desc!= "To apply for an Islamic Swap Free account, simply<br>complete the form below. Please be aware that you might<br>be asked for documentary Proof of Faith before a swap<br>free request can be processed."
          a.ot-main__block-btn(href="#" class="" title="")!= "Apply for an IFX Islamic Account"

// SECTION main :: END