// SECTION platforms :: START

section#ot-platforms.ot-platforms
  .c-grid
    p.ot-platforms__title!= "Trading Platforms"

  .ot-platforms-bg
    .ot-platforms-bg-left

      img(src="./img/img-platforms-pc.png" alt="" title="")

    .ot-platforms-bg-right

  .c-grid

    .ot-platforms__wrapper
      .ot-platforms__wrapper-left

      .ot-platforms__wrapper-right

        p.ot-platforms__subtitle!= "IFX Meta Trader 4"
        p.ot-platforms__info!= "#1 Multi Asset trading<br>platform across the glob"

        p.ot-platforms__text.ot-platforms__text--pb!= "Reliable and completely secure, you can access 85 pre-<br>installed indicators at the click of a button."
        p.ot-platforms__text.ot-platforms__text--mb!= "IFX Meta Trader 4 provides enhanced charting functionality and highly sophisticated order management tools. It also has a multilingual interface, provides a comprehensive analysis and allows for multiple chart set ups."

        .ot-platforms__btn-wrapper
          a.ot-platforms__btn.ot-platforms__btn--black.ot-platforms__btn--half(href="#" class="" title="")
            .ot-platforms__btn-left
              +iconSVG('i-windows')
            .ot-platforms__btn-right
              span!= "Download for"
              p!= "Mac OS"

          a.ot-platforms__btn.ot-platforms__btn--black.ot-platforms__btn--half(href="#" class="" title="")
            .ot-platforms__btn-left
              +iconSVG('i-macos')
            .ot-platforms__btn-right
              span!= "Download for"
              p!= "Mac OS"

          a.ot-platforms__btn.ot-platforms__btn--half(href="#" class="" title="")
            .ot-platforms__btn-left
              +iconSVG('i-apple')
            .ot-platforms__btn-right
              span!= "Download for"
              p!= "iPhone & iPad"

          a.ot-platforms__btn.ot-platforms__btn--half(href="#" class="" title="")
            .ot-platforms__btn-left
              +iconSVG('i-android')
            .ot-platforms__btn-right
              span!= "Download for"
              p!= "Android"

          a.ot-platforms__btn.ot-platforms__btn--full(href="#" class="" title="")
            .ot-platforms__btn-left
              +iconSVG('i-web')
            .ot-platforms__btn-right
              p!= "Open Webtrader in browser"
              +iconSVG('i-arrow')


// SECTION platforms :: END