// SECTION servers :: START

section#ot-servers.ot-servers
  .c-grid
    .ot-servers__wrapper
      .ot-servers__wrapper-left

        p.ot-servers__title!= "OUR SERVERS.<br>YOUR ADVANTAGE."

        .ot-servers__block
          p!= "Execute trades faster than the blink of an eye."

      .ot-servers__wrapper-right

        p.ot-servers__text.ot-servers__text--pb!= "Our servers are rivalled only by investment banks and major hedge funds. We use multi-tiered, best bid/offer aggregation technology to execute trades faster than the blink of an eye."
        p.ot-servers__text.ot-servers__text--pb!= "In an increasingly competitive and volatile global trading atmosphere, online trading systems and strategies are entirely reliant on their execution infrastructure. Making or losing money is no longer determined by minutes but milliseconds."
        p.ot-servers__text!= "We are proud to be associated with Equinix, a NASDAQ listed concern, based in New York and London."

// SECTION servers :: END