// SECTION trading :: START

section#ot-trading.ot-trading
  .c-grid
    .ot-trading__wrapper

      p.ot-trading__title!= "Let’s Get Trading"
      p.ot-trading__desc!= "As always, our trading conditions were designed with you in mind and it’s no coincidence that they conform to the highest global standards. IFX Brokers are single-mindedly focused on ensuring that your trading experience is streamlined and profitable."

      .ot-trading__row
        .ot-trading__row-left
          p.ot-trading__subtitle!= "Spreads"
          p.ot-trading__text!= "With numerous degrees and diplomas, the IFX directors have decades of practical experience and knowledge garnered from senior positions in international concerns. They constantly evaluate the evolution and expansion of IFX Brokers."

        .ot-trading__row-right
          p.ot-trading__subtitle!= "Swaps"
          p.ot-trading__text!= "A forex swap rate, or rollover, concerns overnight interest that is added or deducted when a position is held open overnight. It may be earned or paid. Swap/rollover rates are determined by the existing overnight interest rate differential between the two paired currencies, and whether the selected position is buy ‘long’ or sell ‘short’."

      p.ot-trading__subtitle.ot-trading__subtitle--pb!= "The table below details the typical spreads of our popular forex pairs"

      .ot-trading__table-scroll
        .ot-trading__table
          .ot-trading__table-tr.ot-trading__table-tr--first
            .ot-trading__table-td.ot-trading__table-td-0
              p!= "Symbol"
            .ot-trading__table-td.ot-trading__table-td-1
              p!= "IFX Standard"
            .ot-trading__table-td.ot-trading__table-td-2
              p!= "Standard Spread from"
              span!= "Points"
            .ot-trading__table-td.ot-trading__table-td-3
              p!= "RAW Spread from"
              span!= "Points"
          .ot-trading__table-tr.ot-trading__table-tr--row
            .ot-trading__table-td.ot-trading__table-td-0
              span!= "EURUSD"
            .ot-trading__table-td.ot-trading__table-td-1
              span!= "Euro - US Dollar"
            .ot-trading__table-td.ot-trading__table-td-2
              span!= "0.8"
            .ot-trading__table-td.ot-trading__table-td-3
              span!= "0.3"
          .ot-trading__table-tr.ot-trading__table-tr--row
            .ot-trading__table-td.ot-trading__table-td-0
              span!= "GPBUSD"
            .ot-trading__table-td.ot-trading__table-td-1
              span!= "Pound Sterling-US Dollar"
            .ot-trading__table-td.ot-trading__table-td-2
              span!= "1.2"
            .ot-trading__table-td.ot-trading__table-td-3
              span!= "0.5"
          .ot-trading__table-tr.ot-trading__table-tr--row
            .ot-trading__table-td.ot-trading__table-td-0
              span!= "USDCHF"
            .ot-trading__table-td.ot-trading__table-td-1
              span!= "US Dollar - Swiss Franc"
            .ot-trading__table-td.ot-trading__table-td-2
              span!= "1.2"
            .ot-trading__table-td.ot-trading__table-td-3
              span!= "0.5"
          .ot-trading__table-tr.ot-trading__table-tr--row
            .ot-trading__table-td.ot-trading__table-td-0
              span!= "EURUSD"
            .ot-trading__table-td.ot-trading__table-td-1
              span!= "Euro - US Dollar"
            .ot-trading__table-td.ot-trading__table-td-2
              span!= "0.8"
            .ot-trading__table-td.ot-trading__table-td-3
              span!= "0.3"
          .ot-trading__table-tr.ot-trading__table-tr--row
            .ot-trading__table-td.ot-trading__table-td-0
              span!= "GPBUSD"
            .ot-trading__table-td.ot-trading__table-td-1
              span!= "Pound Sterling-US Dollar"
            .ot-trading__table-td.ot-trading__table-td-2
              span!= "1.2"
            .ot-trading__table-td.ot-trading__table-td-3
              span!= "0.5"
          .ot-trading__table-tr.ot-trading__table-tr--row
            .ot-trading__table-td.ot-trading__table-td-0
              span!= "USDCHF"
            .ot-trading__table-td.ot-trading__table-td-1
              span!= "US Dollar - Swiss Franc"
            .ot-trading__table-td.ot-trading__table-td-2
              span!= "1.2"
            .ot-trading__table-td.ot-trading__table-td-3
              span!= "0.5"
          .ot-trading__table-tr.ot-trading__table-tr--row
            .ot-trading__table-td.ot-trading__table-td-0
              span!= "EURUSD"
            .ot-trading__table-td.ot-trading__table-td-1
              span!= "Euro - US Dollar"
            .ot-trading__table-td.ot-trading__table-td-2
              span!= "1.2"
            .ot-trading__table-td.ot-trading__table-td-3
              span!= "0.3"
          .ot-trading__table-tr.ot-trading__table-tr--row
            .ot-trading__table-td.ot-trading__table-td-0
              span!= "GPBUSD"
            .ot-trading__table-td.ot-trading__table-td-1
              span!= "Pound Sterling-US Dollar"
            .ot-trading__table-td.ot-trading__table-td-2
              span!= "1.2"
            .ot-trading__table-td.ot-trading__table-td-3
              span!= "0.5"
          .ot-trading__table-tr.ot-trading__table-tr--row
            .ot-trading__table-td.ot-trading__table-td-0
              span!= "USDCHF"
            .ot-trading__table-td.ot-trading__table-td-1
              span!= "US Dollar - Swiss Franc"
            .ot-trading__table-td.ot-trading__table-td-2
              span!= "1.2"
            .ot-trading__table-td.ot-trading__table-td-3
              span!= "0.5"

// SECTION trading :: END